
.location {
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 20%;
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



.location-content {
    width: 50%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.background-cover {
    position: relative;
}

img {
    max-width: 100%;
}


.location-content h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.map-container {


    width: 50%;
    height: 100%;
}




.standard-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.standard-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}



.standard-button span:after {
    content: '\2193';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.standard-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.standard-button:hover span {
    padding-right: 25px;
}

.standard-button:hover span:after {
    opacity: 1;
    right: 0;
}