

/* stackoverflow */
@keyframes animate {
    0% { background-position: 0 0; }
    100% { background-position: -1200px 0; }
}

.header_div {
    background-image: url('images/pitsa_pilt.jpg');
    height: 500px;
    text-align: center;
    animation-name: animate;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    border-radius: 3%;
    animation-timing-function: linear;
}

.hinnakiri_header {
    padding: 210px;
    font-family: 'Roboto Slab', serif;
    font-size: 70px;
}

.pitsa-holder {
    height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.pitsa-image {
    margin-right: 50px;
    float: left;
}

.pitsa-description {
    margin-right: 200px;
}
