* {
    margin: 0;
    padding: 0;
    border: 0;
}

.header_div {
    background-image: url('images/pitsa_pilt.jpg');
    height: 500px;
    text-align: center;
}

.hinnakiri_header {
    padding: 230px;
}

