/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* navbar style */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(139, 102, 1);
    color: #fff;
}
.nav-links a {
    color: #fff;
}
/* logo */
.logo a {
    font-size: 32px;
    color: #fff;
}
/* navbar menu style */
.menu {
    z-index: 1;
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    z-index: inherit;
    background-color: #9e844c;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    z-index: inherit;
    padding: 5px 14px;
}
/* dropdown menu style */
.pizzas {
    position: relative; 
}
.dropdown {
    z-index: inherit;

    background-color: rgb(139, 102, 1);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #9e844c;
}
.pizzas:hover .dropdown {
    display: block;
}
